.box-container {
	display: flex;
	align-items: center;
	align-content: space-between;
	max-width: 500px;
	margin: 10px;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ddd;
}
  

.box-container .upload {
	border-radius: 4px;
	padding: 30px;
	text-align: center;
	border: 1px dashed #ddd;
	color: #999;
	margin-top: 5px;
	cursor: pointer;
}